body {
  margin: 1em;
  text-align: center;
}

.case-out {
  width: 26em;
  padding: 0.1em;
}

.case-in {
  padding: 1em;
  width: 24em;
}

.btn {
  margin: 0.4em;
}

.solut {
  margin: 0.4em 0;
  width: 15em;
}

@media all and (max-width: 601px) {
  .case-out {
    width: auto;
    padding: 0.1em;
  }
  
  .case-in {
    padding: 1em;
    width: auto;
  }
  
  .btn {
    margin: 0.4em;
  }

  .solut {
    width: 13.1em;
  }

  .btn-row {
    margin: 0.2em;
    text-align: center;
  }
}