body {
  margin: 1em;
  text-align: center;
}

.case-out {
  padding: 0.1em;
  width: 26em;
}

.case-in {
  padding: 1em;
  width: 24em;
}

.btn {
  margin: 0.4em;
}

.solut {
  margin: 0.4em 0;
  width: 15em;
  display: block;
}

@media all and (max-width: 601px) {
  .case-out {
    padding: 0.4em;
    width: auto;
  }
  
  .case-in {
    padding: 2.2em;
    width: auto;
  }
  
  .btn {
    margin: 0.4em;
  }

  .solut {
    width: 8.8em;
    display: block;
  }
}

@media all and (max-width: 801px) {
  .solut {
    width: auto;
  }
}